<!DOCTYPE html>
<html>
  <head>
    <title>Dreampack</title>
    <meta name="turbo-cache-control" content=" no-preview">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class='bg-[hsl(237.1,25.9%,15.9%)]'>
    <%= yield %>
  </body>
</html>
